body {
  background-color: #F5F7F8 !important;
  font-family: 'Open Sans',sans-serif !important;
}

html {
  margin-bottom: 200px;
}
a {
  color: #000 !important;
}
footer {
  position: absolute;
}

.form-group {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-check-label {
  margin-right: 15px !important;
}

.form-control {
  width: 100%;
  height: 0px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px;
}

.navbar-default {
  background-color: #173A5C !important;
  border-bottom-width: 7px !important;
  border-color: #366c9d !important;
  border-radius: 1px !important;
}

.navbar-header {
  border-bottom-width: 4px;
  border-color: #31608d;
}

.logo {
  height:40px;
  position: absolute;
  margin-left: 30px;
  bottom: 6px;

}

h4 {
  text-decoration: underline;
}

#show {
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}

#title {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #173A5C;
}

input.btn.btn-primary {
  background-color: #173A5C !important;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
}

a.btn.btn-primary {
  background-color: #173A5C !important;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #fff !important;
}

#page {
  margin-left: 100px;
  margin-right: 100px;
}

#form-control {
  width: 100%;
  height: 0px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px;
}
